# ---------------------------
# Sistema / Editor
# ---------------------------
.DS_Store
Thumbs.db
*.log

# ---------------------------
# IDE / Editores
# ---------------------------
.idea/
.vscode/
*.swp
*.swo

# ---------------------------
# Build / Cache local
# ---------------------------
*.cache/
*.tmp/
.cache/

.maestri/